<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xmlns" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Pagina TCC</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,600&display=swap" rel="stylesheet">
    <title>Pagina_Inicial</title>
</head>
<body>
    <header>
        <div id="title">
            <a class="logosite" href="https://www.petz.com.br/?gclid=CjwKCAjw9suYBhBIEiwA7iMhNClXm4T1WCAkMSTCUQNzXnlESbgP6R-Q6WJZlhYYlChLWPbjeqOU1RoCzZ8QAvD_BwE" >
                <span>AVICULTURA SILSAN</span>
            </a>
        </div>
    </header>

    <main>
            <form>
                <input type="text" placeholder="LOGIN">
                <input type="password" placeholder="SENHA">
                <button class="button-login" onclick="alert('Redirecionando')"  >
                    <a class="acessar_login" href="https://www.petz.com.br/?gclid=CjwKCAjw9suYBhBIEiwA7iMhNClXm4T1WCAkMSTCUQNzXnlESbgP6R-Q6WJZlhYYlChLWPbjeqOU1RoCzZ8QAvD_BwE">LOGIN</a>
                </button>
                <button class="button-cadastro" onclick="alert('Redirecionando')" >
                    <a href="https://www.petz.com.br/?gclid=CjwKCAjw9suYBhBIEiwA7iMhNClXm4T1WCAkMSTCUQNzXnlESbgP6R-Q6WJZlhYYlChLWPbjeqOU1RoCzZ8QAvD_BwE" class="">REGISTRE-SE AGORA!</a>
                </button>
            </form>
            
            
    </main>
    
</body>
</html>